Pipelines, "New", buswinka.aipipeline.PipelineBuilder
Pipelines, "Manage", buswinka.aipipeline.PipelineManagerCommand
Pipelines, "Batch Run", buswinka.aipipeline.BatchRunnerCommand
Pipelines, "Settings", buswinka.aipipeline.PreferencesCommand
Pipelines, "-",
Plugins>Utilities>Pipelines, "Regenerate Menu Items", buswinka.aipipeline.PipelineMenuStartup
Plugins>Utilities>Pipelines, "Uninstall", buswinka.aipipeline.UninstallCommand
Plugins>Utilities>Pipelines, "Reset Internal Plugin Cache", buswinka.aipipeline.ClearMachineIdCommand
